@media screen and (min-width: 200px) {
  /* line 29, ../scss/_breakpoints.scss */
  head {
    font-family: "usn-x-small 200px";
  }

  /* line 30, ../scss/_breakpoints.scss */
  body:after {
    content: "usn-x-small - min-width: 200px";
  }
}
@media screen and (min-width: 400px) {
  /* line 29, ../scss/_breakpoints.scss */
  head {
    font-family: "usn-small 400px";
  }

  /* line 30, ../scss/_breakpoints.scss */
  body:after {
    content: "usn-small - min-width: 400px";
  }
}
@media screen and (min-width: 600px) {
  /* line 29, ../scss/_breakpoints.scss */
  head {
    font-family: "usn-small-medium 600px";
  }

  /* line 30, ../scss/_breakpoints.scss */
  body:after {
    content: "usn-small-medium - min-width: 600px";
  }
}
@media screen and (min-width: 800px) {
  /* line 29, ../scss/_breakpoints.scss */
  head {
    font-family: "usn-medium 800px";
  }

  /* line 30, ../scss/_breakpoints.scss */
  body:after {
    content: "usn-medium - min-width: 800px";
  }
}
@media screen and (min-width: 1000px) {
  /* line 29, ../scss/_breakpoints.scss */
  head {
    font-family: "usn-large-medium 1000px";
  }

  /* line 30, ../scss/_breakpoints.scss */
  body:after {
    content: "usn-large-medium - min-width: 1000px";
  }
}
@media screen and (min-width: 1200px) {
  /* line 29, ../scss/_breakpoints.scss */
  head {
    font-family: "usn-large 1200px";
  }

  /* line 30, ../scss/_breakpoints.scss */
  body:after {
    content: "usn-large - min-width: 1200px";
  }
}
@media screen and (min-width: 1400px) {
  /* line 29, ../scss/_breakpoints.scss */
  head {
    font-family: "usn-x-large 1400px";
  }

  /* line 30, ../scss/_breakpoints.scss */
  body:after {
    content: "usn-x-large - min-width: 1400px";
  }
}
/* line 35, ../scss/_breakpoints.scss */
head title {
  font-family: "usn-x-small 200px, usn-small 400px, usn-small-medium 600px, usn-medium 800px, usn-large-medium 1000px, usn-large 1200px, usn-x-large 1400px";
}

/* line 38, ../scss/_breakpoints.scss */
body:after {
  display: none;
}

/* line 43, ../scss/_breakpoints.scss */
body:after {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #FFF;
  padding: 10px;
  z-index: 1000;
  font-size: 12px;
  font-family: sans-serif;
}

/* line 62, ../scss/_breakpoints.scss */
*[data-usn-if] {
  display: none;
}
