@media screen and (min-width: pair[1]) {
  body {
    background-color: #fff;
  }
}
.usn-x-small {
  color: 200px;
}
@media screen and (min-width: pair[1]) {
  body {
    background-color: #fff;
  }
}
.usn-small {
  color: 400px;
}
@media screen and (min-width: pair[1]) {
  body {
    background-color: #fff;
  }
}
.usn-small-medium {
  color: 600px;
}
@media screen and (min-width: pair[1]) {
  body {
    background-color: #fff;
  }
}
.usn-medium {
  color: 800px;
}
@media screen and (min-width: pair[1]) {
  body {
    background-color: #fff;
  }
}
.usn-large-medium {
  color: 1000px;
}
@media screen and (min-width: pair[1]) {
  body {
    background-color: #fff;
  }
}
.usn-large {
  color: 1200px;
}
@media screen and (min-width: pair[1]) {
  body {
    background-color: #fff;
  }
}
.usn-x-large {
  color: 1400px;
}
