// config
$debug: true;

// declare breakpoints
$poof-x-small         : 200px;
$poof-small           : 400px;
$poof-small-medium    : 600px;
$poof-medium          : 800px;
$poof-large-medium    : 1000px;
$poof-large           : 1200px;
$poof-x-large         : 1400px;

// create sass list to pass media query data
// if a breakpoint name changes, remember to
// update it in the list below as well
$mq-sync:
  poof-x-small        $poof-x-small,
  poof-small          $poof-small,
  poof-small-medium   $poof-small-medium,
  poof-medium         $poof-medium,
  poof-large-medium   $poof-large-medium,
  poof-large          $poof-large,
  poof-x-large        $poof-x-large
;

// build each media query for js ingestion
@each $mq in $mq-sync {
  @media screen and (min-width: nth($mq, 2)) {
    head { font-family: "#{nth($mq, 1)} #{nth($mq, 2)}"; }
    body:after { content: "#{nth($mq, 1)} - min-width: #{nth($mq, 2)}"; }
  }
}

// store hash of all breakpoints
head title { font-family: "#{$mq-sync}"; }

// debug styles to see breakpoint info
body:after {
  display: none;
}

@if $debug == true {
  body {
    padding-top: 30px;
    &:after {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #000;
      background-color: rgba(0,0,0,0.8);
      text-align: center;
      color: #FFF;
      padding: 10px;
      z-index: 1000;
      font-size: 12px;
      font-family: sans-serif;
    }
  }
}

// hide elements for conditional loading
*[data-poof-if] { display: none; }