$font-head: "Josefin Slab", serif;
$font-body: "Pontano Sans", sans-serif;
$font-pre: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$bg-color: #EEE;
$primary: #0BC68F;
$gutter: 25px;

@mixin transition($transition-property, $transition-time, $tween) {
    -webkit-transition: $transition-property $transition-time $tween;
    -moz-transition: $transition-property $transition-time $tween;
    -ms-transition: $transition-property $transition-time $tween;
    -o-transition: $transition-property $transition-time $tween;
    transition: $transition-property $transition-time $tween;
}