$usn-x-small         : 200px;
$usn-small           : 400px;
$usn-small-medium    : 600px;
$usn-medium          : 800px;
$usn-large-medium    : 1000px;
$usn-large           : 1200px;
$usn-x-large         : 1400px;

$font-head: "Josefin Slab", serif;
$font-body: "Source Sans Pro", sans-serif;
$font-pre: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
$bg-color: #EEE;
$primary: #0BC68F;
$secondary: #CE534D;
$gutter: 25px;

@mixin transition($transition-property, $transition-time, $tween) {
    -webkit-transition: $transition-property $transition-time $tween;
    -moz-transition: $transition-property $transition-time $tween;
    -ms-transition: $transition-property $transition-time $tween;
    -o-transition: $transition-property $transition-time $tween;
    transition: $transition-property $transition-time $tween;
}