@import "compass/reset";
@import "mixins";
@import "breakpoints";

html {
  background-color: $bg-color;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  color: #444;
  padding-top: 0;
  &:after {
    display: none;
  }
  img {
    display: block;
    max-width: 100%;
    margin: ($gutter * 2) auto;
  }
  &.show-debug {
    padding-top: $gutter;
    &:after {
      font-family: $font-body;
      font-size: 14px;
      display: block;
    }
  }
}

@import "patterns/p-base";
@import "modules/!manifest";