$m : ".m-button";

#{$m} {
  border: 0;
  padding: $gutter;
  background-color: $secondary;
  text-shadow: 2px 2px 0 darken($secondary, 10%);
  color: #FFF;
  text-transform: uppercase;
  font-family: $font-body;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.4;
  cursor: pointer;
  outline: none;
  display: inline-block;
  @include transition(all, 500ms, ease);
  &:hover {
    text-shadow: 2px 2px 0 darken($secondary, 20%);
    background-color: lighten($secondary, 2%);
  }
}