$m : ".m-bjork";

#{$m} {
  margin: 0 auto;
  img {
    display: block;
    max-width: 100%;
  }
  cite {
    line-height: 1.4;
    font-size: 16px;
    display: block;
    background-color: $secondary;
    padding: $gutter;
    color: #FFF;
    text-shadow: 1px 1px 0px darken($secondary, 20%);
  }
  &.large {
    max-width: 800px;
  }
  &.medium {
    max-width: 600px;
  }
  &.small {
    max-width: 400px;
  }
}