@media screen and (min-width: 200px) {
  /* line 29, ../scss/unison.scss */
  head {
    font-family: "poof-x-small 200px";
  }

  /* line 30, ../scss/unison.scss */
  body:after {
    content: "poof-x-small - min-width: 200px";
  }
}
@media screen and (min-width: 400px) {
  /* line 29, ../scss/unison.scss */
  head {
    font-family: "poof-small 400px";
  }

  /* line 30, ../scss/unison.scss */
  body:after {
    content: "poof-small - min-width: 400px";
  }
}
@media screen and (min-width: 600px) {
  /* line 29, ../scss/unison.scss */
  head {
    font-family: "poof-small-medium 600px";
  }

  /* line 30, ../scss/unison.scss */
  body:after {
    content: "poof-small-medium - min-width: 600px";
  }
}
@media screen and (min-width: 800px) {
  /* line 29, ../scss/unison.scss */
  head {
    font-family: "poof-medium 800px";
  }

  /* line 30, ../scss/unison.scss */
  body:after {
    content: "poof-medium - min-width: 800px";
  }
}
@media screen and (min-width: 1000px) {
  /* line 29, ../scss/unison.scss */
  head {
    font-family: "poof-large-medium 1000px";
  }

  /* line 30, ../scss/unison.scss */
  body:after {
    content: "poof-large-medium - min-width: 1000px";
  }
}
@media screen and (min-width: 1200px) {
  /* line 29, ../scss/unison.scss */
  head {
    font-family: "poof-large 1200px";
  }

  /* line 30, ../scss/unison.scss */
  body:after {
    content: "poof-large - min-width: 1200px";
  }
}
@media screen and (min-width: 1400px) {
  /* line 29, ../scss/unison.scss */
  head {
    font-family: "poof-x-large 1400px";
  }

  /* line 30, ../scss/unison.scss */
  body:after {
    content: "poof-x-large - min-width: 1400px";
  }
}
/* line 35, ../scss/unison.scss */
head title {
  font-family: "poof-x-small 200px, poof-small 400px, poof-small-medium 600px, poof-medium 800px, poof-large-medium 1000px, poof-large 1200px, poof-x-large 1400px";
}

/* line 38, ../scss/unison.scss */
body:after {
  display: none;
}

/* line 43, ../scss/unison.scss */
body {
  padding-top: 30px;
}
/* line 45, ../scss/unison.scss */
body:after {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #FFF;
  padding: 10px;
  z-index: 1000;
  font-size: 12px;
  font-family: sans-serif;
}

/* line 64, ../scss/unison.scss */
*[data-poof-if] {
  display: none;
}
