$m : ".m-call-to-action";

#{$m} {
  @include clearfix;
  margin: ($gutter * 2) 0 ($gutter * 1.5);
  text-align: center;
  a {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: $gutter * .5;
    &:first-child {
      margin-bottom: $gutter * .4;
    }
    @media(min-width: $usn-small-medium) {
      padding: $gutter;
      width: 47.5%;
      float: right;
      &:first-child {
        float: left;
      }
    }
    @media(min-width: $usn-large-medium) {
      font-size: 16px;
    }
    @media(min-width: $usn-x-large) {
      font-size: 20px;
    }
  }
}