$m : ".m-container";

// pagewidth container
#{$m} {
  margin: 0 auto;
  width: 85%;
  @media(min-width: $usn-medium) {
    width: 70%;
  }
  @media(min-width: $usn-large) {
    width: 60%;
  }
  @media(min-width: $usn-x-large) {
    width: 50%;
  }
}